.MyPageContainer {
  width: 100%;
  height: 100%;

  .MyPageTitle {
    font-size: 23px;
    font-weight: 900;
    text-align: center;
    padding: 40px;
  }
  .MyPageProfileTitle{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding: 0 10px 30px 25px;
    margin: 2% 0 0 0;
  }
  .MyPageProfileBox {
    height: 25%;
    // margin-bottom: 10%;
    margin: 0 auto;
    // flex-direction: column;
    // display: flex;
    flex: 2;
    img {
      width: 65px;
      height: 65px;
      border: 2px solid hwb(216 1% 3%);
      border-radius: 50%;
      // flex: 1;
    }
    .MyPageProfileBtn {
      width: 150px;
    }
    .MyPageChoiceBtn {
      // border: none;
      // background-color: #ffffff;
      // color: #0d6efd;
      display: none;
    }
      .MyPageProfileSelectBtn {
        width: 80px;
        height: 35px;
        background: #fff;
        border: 1px solid rgb(77, 77, 77);
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: hsl(216, 99%, 44%);
          color: #fff;
        }
    }
  }
  .MyPageAddAccount {
    width: 100%;
    height: 20%;
  }
  .MyPageAccounttitle,
  .MyPageInfotitle {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding: 0 10px 30px 25px;
    margin: 8% 0 0 0;
  }
  .MyPageInfoBox {
    width: 88%;
    margin: 0 auto;
    margin-top: 5px;
    .joinInput {
      width: 70%;
      height: 38px;
      margin-bottom: 12px;
      color: gray;
    }
    .MyPageLineBox {
      display: flex;
      justify-content: space-between;
      line-height: 38px;
      // flex-grow: 1;
    }
  }
  .MypageHr {
    width: 90%;
    margin: 20px auto 10px auto;
  }
}
